{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}La Tiendita{% endblock %}

{% block content %}
<div class="container registro">
    <div class="separador"></div>
    <div class="texto-registro col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h3>Inicio sesión</h3>
    </div>

    <div class="div-input col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="InputUsuario" class="form-label">Usuario</label>
                <input type="text" class="form-control input" id="InputUsuario" name="InputUsuario"
                    aria-describedby="emailHelp" placeholder="Ejemplo_123">
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control input" id="InputPassword1" name="InputPassword1"
                    placeholder="***************">
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <center><button type="submit" class="btn btn-light">Enviar</button></center>
        </form>
    </div>
</div>
{% endblock %}