<div class="alert alert-primary" role="alert">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="row" colspan="3" class="text-center">CARRITO</th>
                </tr>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carrito.items %}
                {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td>{{ value.nombre }}</td> 
                        <td>{{ value.acumulado }} <!-- precio -->
                            <a href="{% url 'add' value.producto_id %}" class="badge btn btn-dark badge-dark"></a>
                        </td>
                        <td> <!-- cantidad -->
                            <a href="{% url 'add' value.producto_id %}" class="btn btn-dark badge-dark btn-add-to-cart">+</a>
                            <a href="{% url 'sub' value.producto_id %}" class="btn btn-dark badge-dark">-</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            <div class="alert alert-danger text-center">Sin productos</div>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">Total:</th>
                    <td colspan="2">$ {{ total_carrito }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-6">
        <a href="{% url 'cls' %}" class="btn btn-danger btn-block">Limpiar</a>
    </div>
    <div class="col-6">
        <a href="#" class="btn btn-success btn-block">Guardar</a>
    </div>
</div>
