{% extends "base.html" %}

{% load static %}

{% block title%}La Tiendita{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/style-carrito.css/' %}">   
{% endblock %}

{% block content %}
    <div>
        {% include 'descrip_carrito.html' %}
    </div>
    <!--texto-->
    <br>
    <div class="container-fluid" style="text-align: center;">
        <h3 class="textoEnc"> 😻¡Encuentra aquí las mejores bandanas para tus mascotas!🐶</h3>
    </div>

    <div class="col-12" id="Bandada">
        <div class="container cont-cartas">
            <div class="row">
                {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" class="card-img-top producto-imagen" alt="Imagen del producto" width="" height="380px">
                        {% else %}
                        <span>No hay foto disponible</span>
                        {% endif %}
        
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <hr>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text">$ {{ producto.precio }}</p>
                            <a href="{% url 'add' producto.id %}" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}