{% extends "base.html" %}

{% load static %}

{% block title%}La Tiendita{% endblock %}

{% block content %}
<!--texto-->
<br>
<div class="container-fluid" style="text-align: center;">
    <h3 class="textoEnc"> 😻¡Encuentra aquí las mejores correas para tus mascotas!🐶</h3>
</div>
<!--cards correas gato-->
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/correagato1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Correa Gato Lila 💜</h5>
                    <p class="card-text">¡El mejor accesorio para pasear a tu peludo!</p>
                    <p class="card-text">$3.990</p>
                    <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="img/correagato2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Correa Gato Azúl 💙</h5>
                <p class="card-text">¡El mejor accesorio para pasear a tu peludo!</p>
                <p class="card-text">$3.990</p>
                <a href="#" class="btn btn-primary">Agregar al carro</a>
            </div>
        </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/correagato3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Correa Gato Verde 💚</h5>
                    <p class="card-text">¡El mejor accesorio para pasear a tu peludo!</p>
                    <p class="card-text">$3.990</p>
                    <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--cards correas perros-->
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/correaperro1.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Correa Perro Roja 💖</h5>
                <p class="card-text">¡El mejor accesorio para pasear a tu peludo!</p>
                <p class="card-text">$3.990</p>
                <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="img/correaperro2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Correa Perro Azúl 💙</h5>
                <p class="card-text">¡El mejor accesorio para pasear a tu peludo!</p>
                <p class="card-text">$3.990</p>
                <a href="#" class="btn btn-primary">Agregar al carro</a>
            </div>
        </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/correaperro3.png" class = "card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Correa Perro Verde 💚</h5>
                <p class="card-text">¡El mejor accesorio para pasear a tu peludo!</p>
                <p class="card-text">$3.990</p>
                <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}