{% extends "base.html" %}

{% load static %}

{% block title%}La Tiendita{% endblock %}

{% block content %}
<!--Texto-->
<br>
<div class="container-fluid" style="text-align: center;">
    <h3 class="textoEnc"> 🏷️¡Identificalo con el mejor estilo!🐶🐱</h3>
</div>
<!--cards identificaciones gatos-->
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/placagato1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Placa Gato con Moño 🩷</h5>
                    <p class="card-text">¡La mejor manera de identificar a tu mascota!</p>
                    <p class="card-text">$2.990</p>
                    <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/placagato2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Placa Gato Bati-Michi 🦇</h5>
                    <p class="card-text">¡La mejor manera de identificar a tu mascota!</p>
                    <p class="card-text">$2.990</p>
                    <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/placagato3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Placa Gato Cara 😺</h5>
                    <p class="card-text">¡La mejor manera de identificar a tu mascota!</p>
                    <p class="card-text">$9.990</p>
                    <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--cards identificaciones perros-->
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/placaperro1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Placa Hueso Negro 🖤</h5>
                    <p class="card-text">¡La mejor manera de identificar a tu mascota!</p>
                    <p class="card-text">$3.990</p>
                    <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
            <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/placaperro2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Placa Hueso Plateado 🩶</h5>
                <p class="card-text">¡La mejor manera de identificar a tu mascota!</p>
                <p class="card-text">$3.990</p>
                <a href="#" class="btn btn-primary">Agregar al carro</a>
            </div>
        </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="img/placaperro3.png" class = "card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Placa Perro Carra 🐶</h5>
                <p class="card-text">¡La mejor manera de identificar a tu mascota!</p>
                <p class="card-text">$9.990</p>
                <a href="#" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}