{% extends 'base.html' %}

{% load static %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block title%}La Tiendita{% endblock %}

{% block content %} 

<div class="container mt-5">
    <div class="contenedor_pago col-12">
        <h3>Realizando pago</h3>
        <hr>
        <form method="post" action="{% url 'confirmacion' %}" class="form_pago">
            {% csrf_token %}
            <div class="form-group">
                <label for="despacho">Tipo de Despacho</label>
                <select name="despacho" id="despacho" class="form-control">
                    <option value="retiro_tienda">Retiro en Tienda</option>
                </select>
            </div>
            <button type="submit">Confirmar Pago</button>
        </form>
    </div>
</div>
    
{% endblock %}